<%- include('../../templets/header.ejs') %>
<%- include('../../templets/sidebar.ejs') %>
<%- include('../../templets/navbar.ejs') %>

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <div class="jumbotron">
        <h1 class="display-4">Hello, Welcome To Website Hapy Family!</h1>
        <p class="lead">This is webiste for management family.</p>
        <hr class="my-4">
        <p>Click Button On Bottom To See Family</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/keluarga" role="button">See it</a>
        </p>
      </div>

</div>
<!-- End of Main Content -->

<%- include('../../templets/footer.ejs') %>